.competencies {

    margin: 150px 0px;
}

.competencies__list {

    display: flex;
    flex-wrap: wrap;
    row-gap: 47px;
}

.competencies_title-main {

    margin-bottom: 80px;
    color: #ffffff;
    font-size: 55px;
    line-height: 71.5px;
}

.competence__image {

    width: 45px;
    height: 45px;
}

.competence__title {

    font-size: 35px;
    line-height: 45.5px;
    color: #ECFC00;
}

.competence__desc {

    font-size: 22px;
    line-height: 28.6px;
    color: #ffffff;
}

.competence {

    width: calc(50% - 10px);
}

/* Планшет */

@media (max-width: 1199px) {

     
    .competencies__list {
    
        column-gap: 10px;
    }
    
    .competencies_title-main {
    
        margin-bottom: 60px;
        font-size: 45px;
        line-height: 58.5px;
    }
    
    .competence__image {
    
        width: 36px;
        height: 36px;
    }
    
    .competence__title {

        font-size: 28px;
        line-height: 36.4px;
    }
    
    .competence__desc {
    
        font-size: 18px;
        line-height: 23.4px;
        color: #ffffff;
    }

}

/* Мобильное устройство */

@media (max-width: 767px) {

    .competencies {

        margin: 100px 0px;
    }
    
    .competencies__list {
    
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        column-gap: 60px;
    }
    
    .competencies_title-main {
    
        margin-bottom: 60px;
        font-size: 35px;
        line-height: 58.5px;
    }
    
    .competence__title {
    
        font-size: 28px;
        line-height: 36.4px;
    }
    
    .competence__desc {

        font-size: 18px;
        line-height: 23.4px;
    }

    .competence {

        width: 85%;
    }
}
