footer {

    border-radius: 20px;
    background-color: #ffffff;
    padding: 76px 0px 30px;
}

.footer__inner {

    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer__wrapper {

    display: flex;
    justify-content: space-between;
}

.footer__nav {

    display: flex;
    gap: 20px;
} 

.footer__name {

    display: flex;
    justify-content: space-between;
} 

.footer__description {

    font-size: 20px;
    line-height: 27.32px;
    color: #121212;
    opacity: 0.5;
}

.footer__nav-link {

    text-decoration: none;
    color:#121212;
    font-size: 22px;
    line-height: 30.05px;
}

.footer__title {

    text-decoration: none;
    color:#121212;
    font-size: 22px;
    line-height: 30.05px;
}

.footer__nav-link:hover{

    color: #ECFC00;
}

/* Планшет */

@media (max-width: 1199px) {
    

    footer {

        border-radius: 20.25px;
        padding: 51px 0px 25px;
    }
    
    .footer__nav {

        gap: 14px;
    } 
     
    .footer__nav-link {
    
        font-size: 16px;
        line-height: 21.86px;
    }

    .footer__title {

        font-size: 16px;
        line-height: 21.86px;
    }

    .footer__description {
    
        font-size: 14px;
        line-height: 19.12px;
    }
}

/* Мобильное устройство */

@media (max-width: 767px) {

    footer {

        border-radius: 18.66px;
        padding: 47px 0px 34px;
    }
    
    .footer__inner {
    
        display: flex;
    }
    
    .footer__wrapper {

        flex-direction: column;
        row-gap: 20px;
    }
    
    .footer__nav {
    
        display: flex;
        gap: 13px;
    } 
    
    .footer__name {
    
        flex-direction: column;
        row-gap: 20px;
    } 
    
    .footer__description {
    
        font-size: 13px;
        line-height: 17.76px;
    }
    
    .footer__nav-link {
    
        font-size: 15px;
        line-height: 20.49px;
    }
    
    .footer__title {

        font-size: 15px;
        line-height: 20.49px;
    }
}
