.intro__title {

    position: absolute;
    top: 466px;
    width: 919px;
    color: #ECFC00;
    font-size: 80px;
    line-height: 70px;
    text-align: left;
}   

.intro__description {

    position: absolute;
    top: 334px;
    display: block;
    width: 430px;
    line-height: 26px;
    font-size: 20px;
}   

/* Планшет */

@media (max-width: 1199px) {

    .intro__title {

        top: 500px;
        font-size: 60px;
        width: 727px;
    }   
    
    .intro__description {
    
        top: 368px;
        width: 430px;
    }   
}

/* Мобильное устройство */

@media (max-width: 767px) {

    .intro__title {

        top: 451px;
        width: 90%;
        font-size: 35px;
        line-height: 47px;
        text-shadow:  #121212 2px 5px;
        
    }   
    
    .intro__description {
    
        top: 350px;
        width: 90%;
        line-height: 19.5px;
        font-size: 15px;
        color: #121212;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #121212;
        background-color: #ffffff;
    }   
}
